.gradle/
build/
app/build/
.kotlin/

.idea/
*.iml
local.properties

*.apk
*.aab
*.ap_

dirtyfrag-lkm/*.o
dirtyfrag-lkm/*.mod
dirtyfrag-lkm/*.mod.c
dirtyfrag-lkm/Module.symvers
dirtyfrag-lkm/modules.order
dirtyfrag-lkm/.tmp_versions/
dirtyfrag-lkm/.*.cmd
dirtyfrag-lkm/.*.o.cmd
dirtyfrag-lkm/*.ko

.DS_Store
Thumbs.db

*.jar
!gradle/wrapper/*.jar
app/.cxx/

app/src/main/jni/splicehelper
logtestexe/logtest

app/keystore.jks

__pycache__/
*.pyc
